.formWrapper-Profile {
    margin: 0 auto;
    max-width: 600px;
    width: 70%!important;
    background-color: white;
    padding: 20px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;  
      align-items: center;

  }
  
  .title {
    color: #5d5b8d;
    font-size: 15px;
    
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* .Profileinput {
    padding: 5px;
    max-width: 500px;
    align-items: center;

    border: none;
    margin: 0 auto;
    width: 190%;
    
    border-bottom: 1px solid #a7bcff;
  } */
  
  input::placeholder {
    color: rgb(175, 175, 175);
  }
  
  .formWrapper-Profile .profileButton {
    margin-top: 10px;
    display: flex;
    font-size: 15px;
justify-content: space-around;
align-items: center;
gap: 20px;  
  

    background-color: #7b96ec;
    width: 80%;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    align-items: center;
text-align: center;
  }
  
  label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #8da4f1;
    font-size: 12px;
    cursor: pointer;
  }
  
  p {
    color: #5d5b8d;
    font-size: 12px;
    margin-top: 10px;
  }
  